[package]
name = "ampersand"
version = "0.1.11"
description = "Tracking app for plural systems"
authors = ["nao"]
license = ""
repository = ""
edition = "2021"
rust-version = "1.93.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "ampersand"
crate-type = ["staticlib", "cdylib", "rlib"]

[features]
debug = ["tauri/devtools"]

[build-dependencies]
tauri-build = { version = "2.5.3", features = [] }

[dependencies]
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
log = "0.4"
tauri = { version = "2.10.2", features = [] }
tauri-plugin-store = "2.4.2"
tauri-plugin-fs = "2.4.5"
tauri-plugin-os = "2.3.2"
tauri-plugin-dialog = "2.6.0"
tauri-plugin-opener = "2.5.3"
tauri-plugin-http = "2.5.7"
tauri-plugin-process = "2.3.1"
tauri-plugin-ampersand = { path = "./plugin" }

[target.'cfg(target_os = "android")'.dependencies]
tauri-plugin-m3 = "0.2.2"

[target.'cfg(any(target_os = "android", target_os = "ios"))'.dependencies]
tauri-plugin-biometric = "2.3.2"
