@import url("./animations.css");

.md div.markdown-content {
	margin: 8px 0;
	overflow-wrap: anywhere;

	span {
		color: inherit;
	}

	/* Horizontal Rules */
	hr {
		border-top-width: 1px;
		color: var(--ion-text-color-step-400);
	}

	/* Blockquotes */
	blockquote {
		border-left: 1px solid var(--ion-text-color-step-400);
		padding-left: 8px;
		margin: 12px;
	}

	/* Tables */
	table {
		border: 1px solid var(--ion-text-color-step-400);
		margin-bottom: 8px;
	}

	table tr {
		border-bottom: 1px solid var(--ion-text-color-step-400);
	}

	table th {
		border-left: 1px solid var(--ion-text-color-step-400);
		border-right: 1px solid var(--ion-text-color-step-400);
	}

	table td {
		border-left: 1px solid var(--ion-text-color-step-400);
		border-right: 1px solid var(--ion-text-color-step-400);
	}

	table :is(td, th) {
		padding: 8px;
	}

	:is(h1, h2, h3, h4, h5, h6, p, ul, ol, li) {
		margin-top: 0;
		margin-bottom: 0.25rem;
		line-height: normal;
	}

	h1 {
		font-size: 1.95rem;
	}

	h2 {
		font-size: 1.625rem;
	}

	h3 {
		font-size: 1.3rem;
	}

	h4 {
		font-size: 1.125rem;
	}

	h5 {
		font-size: 1.0125rem;
	}

	h6 {
		font-size: 0.9rem;
	}

	/* Highlight */
	mark {
		padding: 2px 4px;
		border-radius: 4px;
		background-color: rgba(var(--ion-color-primary-rgb), 0.40);
		color: inherit;
	}

	/* Spoilers */
	span.spoiler {
		border-radius: 4px;
		padding: 2px 4px;
		background-color: rgb(var(--md3-surface-container));
		transition-duration: 250ms;
		transition-timing-function: ease-in-out;
		transition-property: color, background-color;
		color: transparent;
		cursor: pointer;
		user-select: none;

		&:is(ion-item *) {
			background-color: var(--ion-background-color-step-200);
		}

		&:is(.content-editable-wrapper .preview *) {
			background-color: var(--ion-background-color-step-100);
		}
	}

	span.spoiler * {
		opacity: 0;
		transition-duration: 250ms;
		transition-timing-function: ease-in-out;
		transition-property: opacity;
	}

	span.spoiler:focus {
		background-color: rgb(var(--md3-surface-container-high));
		color: unset;
		user-select: unset;
		cursor: unset;

		&:is(ion-item *) {
			background-color: var(--ion-background-color-step-300);
		}
	
		&:is(.content-editable-wrapper .preview *) {
			background-color: var(--ion-background-color-step-300);
		}
	}

	span.spoiler:focus * {
		opacity: unset;
	}

	/* Timestamp */
	span.timestamp {
		border-radius: 4px;
		padding: 2px 4px;
		background-color: rgb(var(--md3-surface-container-high));

		&:is(ion-item *) {
			background-color: var(--ion-background-color-step-50);
		}
	}

	span.timestamp::before {
		content: "\A";
		mask-image: url(/node_modules/@material-symbols/svg-600/outlined/nest_clock_farsight_analog.svg);
		background-color: rgb(var(--md3-on-surface-variant));
		mask-size: contain;
		mask-repeat: no-repeat;
		display: inline-block;
		width: 1.3em;
		height: 1.3em;
		aspect-ratio: 1;
		vertical-align: text-bottom;
		padding-right: 4px;
	}

	span.color::before {
		content: "\A";
		display: inline-block;
		aspect-ratio: 1;
		width: .8em;
		margin-inline-end: 0.25em;
		border-radius: 100%;
		background-color: var(--color);
		vertical-align: baseline;
	}

	span.text-color-fg-one {
		color: var(--markdown-text-fg-colors);
	}

	span.text-color-fg {
		background: linear-gradient(var(--markdown-text-fg-degrees), var(--markdown-text-fg-colors));
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}

	span.text-color-bg {
		border-radius: 4px;
		padding: 2px 4px;
		background: linear-gradient(var(--markdown-text-bg-degrees), var(--markdown-text-bg-colors));

		&:has(> span.text-border) {
			padding: 0;
			display: inline-block;
		}
	}

	span.text-shadow {
		text-shadow: var(--markdown-text-shadow);
	}

	span.text-border {
		border-left: var(--markdown-text-border-left);
		border-right: var(--markdown-text-border-right);
		border-top: var(--markdown-text-border-top);
		border-bottom: var(--markdown-text-border-bottom);
		border-radius: 4px;
		padding: 2px 4px;
		display: inline-block;
	}

	span.text-decoration {
		text-decoration: var(--markdown-text-decoration);
	}

	p.center {
		display: block;
		text-align: center;
	}

	span.start {
		float: inline-start;
		text-align: start;
	}

	span.end {
		float: inline-end;
		text-align: end;
	}

	span.blur {
		filter: blur(4px);
		cursor: pointer;
		user-select: none;
		transition-duration: 250ms;
		transition-timing-function: ease-in-out;
		transition-property: filter;
	}

	span.blur:focus {
		filter: blur(0);
		user-select: unset;
		cursor: unset;
	}

	ul {
		padding-inline-start: 1.25em;
	}

	ul li span ion-checkbox {
		width: min-content;
		--size: 1em;
		height: 1em;
		margin-inline-end: 0.5em;
	}

	.callout {
		display: block;
		border: 2px solid color-mix(in srgb, var(--markdown-callout-color, var(--ion-color-primary)) 30%, transparent);
		background: color-mix(in srgb, var(--markdown-callout-color, var(--ion-color-primary)) 15%, transparent);
		margin: 8px 0;
		padding: 8px 12px;
		border-radius: 12px;
	}

	.callout summary {
		display: list-item;
		color: var(--markdown-callout-color, var(--ion-color-primary));
		margin-bottom: 8px;
		font-weight: bold;
		list-style-position: inside;
	}

	span.font-family {
		font-family: var(--markdown-font-family);
		font-variation-settings: var(--markdown-font-variation-settings);
	}

	ion-icon {
		height: 1cap;
	}

	.markdown-svg {
		height: 1cap;
		width: 1cap;
	}

	.markdown-emoji {
		width: auto;
		height: 1cap;
		display: inline-block;
		vertical-align: baseline
	}

	span.animation {
		display: inline-block;
		animation-timing-function: linear;
		animation-fill-mode: both;
		animation-iteration-count: infinite;
		animation-duration: var(--markdown-animation-duration, 1s);

		&[data-animation-type=rubberband]{
			animation-name: md-ani-rubberband;
		}

		&[data-animation-type=tada]{
			animation-name: md-ani-tada;
		}

		&[data-animation-type=bounce]{
			animation-name: md-ani-bounce;
			transform-origin: center bottom;
		}
		
		&[data-animation-type=fall] {
			animation-name: md-ani-fall;
			transform-origin: center bottom;
		}

		&[data-animation-type=spin] {
			animation-name: md-ani-spin;
		}

		&[data-animation-type=expand]{
			animation-name: md-ani-enter;
		}

		&[data-animation-type=shrink]{
			animation-name: md-ani-enter;
			animation-direction: reverse;
		}

		&[data-animation-type=rspin]{
			animation-name: md-ani-spin;
			animation-direction: reverse;
		}

		&[data-animation-type=aspin]{
			animation-name: md-ani-spin;
			animation-direction: alternate;
		}

		&[data-animation-type=spinX]{
			animation-name: md-ani-spinX;
		}

		&[data-animation-type=rspinX]{
			animation-name: md-ani-spinX;
			animation-direction: reverse;
		}

		&[data-animation-type=aspinX]{
			animation-name: md-ani-spinX;
			animation-direction: alternate;
		}

		&[data-animation-type=spinY]{
			animation-name: md-ani-spinY;
		}

		&[data-animation-type=rspinY]{
			animation-name: md-ani-spinY;
			animation-direction: reverse;
		}

		&[data-animation-type=aspinY]{
			animation-name: md-ani-spinY;
			animation-direction: alternate;
		}

		&[data-animation-type=jump]{
			animation-name: md-ani-jump;
		}

		&[data-animation-type=twitch]{
			animation-name: md-ani-twitch;
		}

		&[data-animation-type=shake]{
			animation-name: md-ani-shake;
		}

		&[data-animation-type=shake-v]{
			animation-name: md-ani-shake-v;
		}

		&[data-animation-type=shake-h]{
			animation-name: md-ani-shake-h;
		}

		&[data-animation-type=blink]{
			animation-name: md-ani-blink;
		}

		&[data-animation-type=swing]{
			animation-name: md-ani-swing;
		}

		&[data-animation-type=wobble]{
			animation-name: md-ani-wobble;
		}

		&[data-animation-type=jelly]{
			animation-name: md-ani-jelly;
		}

		&[data-animation-type=beat]{
			animation-name: md-ani-beat;
		}

		&[data-animation-type=rainbow]{
			display: inline;
			animation-name: md-ani-rainbow;
		}
	}
}
