html {
	--ion-font-family: 'Inter', var(--ion-default-font);
}

html.high-legibility.hl-atkinson {
	--ion-font-family: 'Atkinson Hyperlegible', var(--ion-default-font);
}

html.high-legibility.hl-opendyslexic {
	--ion-font-family: 'OpenDyslexic', var(--ion-default-font);
}

html.high-legibility.hl-lexend {
	--ion-font-family: 'Lexend', var(--ion-default-font);
}

ion-content {
	--ion-safe-area-left: var(--device-inset-left);
	--ion-safe-area-right: var(--device-inset-right);
}

ion-content:not(ion-tabs *){
	--padding-bottom: var(--device-inset-bottom);
}

ion-header ion-toolbar:first-of-type {
	--ion-safe-area-top: var(--device-inset-top);
}

ion-tab-bar {
	--ion-safe-area-bottom: var(--device-inset-bottom);
}

ion-fab:not(ion-tabs *) {
	margin-bottom: var(--device-inset-bottom);
}

ion-modal.modal-sheet ion-header ion-toolbar:first-of-type {
	--ion-safe-area-top: unset;
}

ion-modal.modal-sheet {
	--ion-safe-area-bottom: var(--device-inset-bottom);
	--max-height: 90%;
}

.centered-text {
	text-align: center;
	padding: 1em;
}

.more-padding {
	padding-bottom: 2em;
}

p {
	text-wrap: wrap;
}
