
ion-list-header + ion-list.md {
	padding-top: unset;
}

ion-item.md ion-icon[slot="start"] {
	margin-inline-end: 24px;
}

ion-list.md {
	padding-bottom: 0;
}

.centered-text {
	text-align: center;
	padding: 1em;
}

p {
	text-wrap: wrap;
}

/* Segment Buttons */

ion-segment-button.md::part(native) {
	border: 1px solid var(--color);
	text-transform: none;
	letter-spacing: normal;
	font-size: unset;
}

ion-segment-button.md.segment-button-checked::part(native) {
	background-color: rgba(var(--ion-color-primary-rgb), 0.2);
	color: var(--ion-text-color);
}

ion-segment-button.md:first-child::part(native) {
	border-right: 0;
	border-radius: 48px 0 0 48px;
}

ion-segment-button.md:last-child::part(native) {
	border-left: 0;
	border-radius: 0 48px 48px 0;
}

ion-segment-button.md::part(indicator-background) {
	height: 0px;
}

/* Toggles */

ion-toggle.md::part(track), ion-toggle.toggle-checked.md::part(track) {
	background-color: aqua;
	width: 52px;
	height: 32px;
	border: 4px solid red;
	border-radius: 100px;

}