html.high-legibility.atkinson {
	font-family: 'Atkinson Hyperlegible', sans-serif;
	--ion-font-family: 'Atkinson Hyperlegible', sans-serif;
}

html.high-legibility.opendyslexic {
	font-family: 'OpenDyslexic', sans-serif;
	--ion-font-family: 'OpenDyslexic', sans-serif;
}

ion-list-header + ion-list.md {
	padding-top: unset;
}

ion-item.md ion-icon[slot="start"] {
	margin-inline-end: 24px;
}

ion-list.md {
	padding-bottom: 0;
}

.centered-text {
	text-align: center;
	padding: 1em;
}

.more-padding {
	padding-bottom: 2em;
}

p {
	text-wrap: wrap;
}

.logo {
	width: 256px;
	height: 256px;
}