@font-face {
	font-family: "Amarna";
	font-style: normal;
	font-weight: 100 700;
	src: url(../../assets/fonts/amarna/Amarna.woff2);
}

@font-face {
	font-family: "Amarna";
	font-style: italic;
	font-weight: 100 700;
	src: url(../../assets/fonts/amarna/Amarna-Italic.woff2);
}