@font-face {
	font-family: "Atkinson Hyperlegible";
	font-weight: 100 900;
	font-style: normal;
	src: url(../../assets/fonts/atkinson-hyperlegible/AtkinsonHyperlegibleNext.ttf);
}

@font-face {
	font-family: "Atkinson Hyperlegible";
	font-weight: 100 900;
	font-style: italic;
	src: url(../../assets/fonts/atkinson-hyperlegible/AtkinsonHyperlegibleNext-Italic.ttf);
}
