@font-face {
	font-family: "Big Shoulders Inline";
	font-weight: 100 900;
	font-style: normal;
	font-feature-settings: "opsz" on;
	src: url(../../assets/fonts/big-shoulders-inline/BigShouldersInline.ttf);
}