@font-face {
	font-family: 'Bitcount Single';
	font-style: normal;
	font-weight: 100 900;
	src: url(../../assets/fonts/bitcount-single/BitcountSingle.ttf);
}


/* CRSV = cursive, ELSH = element shape, ELXP = element expansion, slnt = slant */