@font-face {
	font-family: "Chivo Mono";
	font-style: normal;
	font-weight: 100 900;
	src: url(../../assets/fonts/chivo-mono/ChivoMono.ttf);
}

@font-face {
	font-family: "Chivo Mono";
	font-style: italic;
	font-weight: 100 900;
	src: url(../../assets/fonts/chivo-mono/ChivoMono-Italic.ttf);
}