@font-face {
	font-family: "Comic Neue";
	font-weight: normal;
	font-style: normal;
	src: url(../../assets/fonts/comic-neue/ComicNeue-Regular.ttf);
}

@font-face {
	font-family: "Comic Neue";
	font-weight: bold;
	font-style: normal;
	src: url(../../assets/fonts/comic-neue/ComicNeue-Bold.ttf);
}

@font-face {
	font-family: "Comic Neue";
	font-weight: normal;
	font-style: italic;
	src: url(../../assets/fonts/comic-neue/ComicNeue-Italic.ttf);
}

@font-face {
	font-family: "Comic Neue";
	font-weight: bold;
	font-style: italic;
	src: url(../../assets/fonts/comic-neue/ComicNeue-BoldItalic.ttf);
}