@font-face {
	font-family: "Comic Neue";
	font-weight: 300;
	font-style: normal;
	src: url(../../assets/fonts/comic-neue/ComicNeue-Light.ttf);
}

@font-face {
	font-family: "Comic Neue";
	font-weight: 300;
	font-style: italic;
	src: url(../../assets/fonts/comic-neue/ComicNeue-LightItalic.ttf);
}

@font-face {
	font-family: "Comic Neue";
	font-weight: 400;
	font-style: normal;
	src: url(../../assets/fonts/comic-neue/ComicNeue-Regular.ttf);
}


@font-face {
	font-family: "Comic Neue";
	font-weight: normal;
	font-style: italic;
	src: url(../../assets/fonts/comic-neue/ComicNeue-Italic.ttf);
}

@font-face {
	font-family: "Comic Neue";
	font-weight: 700;
	font-style: normal;
	src: url(../../assets/fonts/comic-neue/ComicNeue-Bold.ttf);
}

@font-face {
	font-family: "Comic Neue";
	font-weight: 700;
	font-style: italic;
	src: url(../../assets/fonts/comic-neue/ComicNeue-BoldItalic.ttf);
}