@font-face {
	font-family: "Cormorant Unicase";
	font-weight: 300;
	font-style: normal;
	src: url(../../assets/fonts/cormorant-unicase/CormorantUnicase-Light.ttf);
}

@font-face {
	font-family: "Cormorant Unicase";
	font-weight: 400;
	font-style: normal;
	src: url(../../assets/fonts/cormorant-unicase/CormorantUnicase-Regular.ttf);
}

@font-face {
	font-family: "Cormorant Unicase";
	font-weight: 500;
	font-style: normal;
	src: url(../../assets/fonts/cormorant-unicase/CormorantUnicase-Medium.ttf);
}

@font-face {
	font-family: "Cormorant Unicase";
	font-weight: 600;
	font-style: normal;
	src: url(../../assets/fonts/cormorant-unicase/CormorantUnicase-SemiBold.ttf);
}

@font-face {
	font-family: "Cormorant Unicase";
	font-weight: 700;
	font-style: normal;
	src: url(../../assets/fonts/cormorant-unicase/CormorantUnicase-Bold.ttf);
}
