@font-face {
	font-family: "EB Garamond";
	font-style: normal;
	font-weight: 400 800;
	src: url(../../assets/fonts/eb-garamond/EBGaramond.ttf);
}

@font-face {
	font-family: "EB Garamond";
	font-style: italic;
	font-weight: 400 800;
	src: url(../../assets/fonts/eb-garamond/EBGaramond-Italic.ttf);
}