@font-face {
	font-family: "Gluten";
	font-style: normal;
	font-weight: 100 900;
	src: url(../../assets/fonts/gluten/Gluten.woff2);
}

@font-face {
	font-family: "Gluten";
	font-style: oblique -13deg 13deg;
	font-weight: 100 900;
	src: url(../../assets/fonts/gluten/Gluten.woff2);
}