@font-face {
	font-family: "Mountains of Christmas";
	font-weight: normal;
	font-style: normal;
	src: url(../../assets/fonts/mountains-of-christmas/MountainsofChristmas-Regular.ttf);
}

@font-face {
	font-family: "Mountains of Christmas";
	font-weight: bold;
	font-style: normal;
	src: url(../../assets/fonts/mountains-of-christmas/MountainsofChristmas-Bold.ttf);
}