@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 200 1000;
	src: url(../../assets/fonts/nunito/Nunito.ttf);
}

@font-face {
	font-family: 'Nunito';
	font-style: italic;
	font-weight: 200 1000;
	src: url(../../assets/fonts/nunito/Nunito-Italic.ttf);
}