@font-face {
	font-family: "OpenDyslexic";
	font-weight: normal;
	font-style: normal;
	src: url(../../assets/fonts/open-dyslexic/OpenDyslexic-Regular.woff2);
}

@font-face {
	font-family: "OpenDyslexic";
	font-weight: bold;
	font-style: normal;
	src: url(../../assets/fonts/open-dyslexic/OpenDyslexic-Bold.woff2);
}

@font-face {
	font-family: "OpenDyslexic";
	font-weight: normal;
	font-style: italic;
	src: url(../../assets/fonts/open-dyslexic/OpenDyslexic-Italic.woff2);
}

@font-face {
	font-family: "OpenDyslexic";
	font-weight: bold;
	font-style: italic;
	src: url(../../assets/fonts/open-dyslexic/OpenDyslexic-BoldItalic.woff2);
}