@font-face {
	font-family: "Pacifico";
	font-weight: normal;
	font-style: normal;
	src: url(../../assets/fonts/pacifico/Pacifico.woff2);
}

@font-face {
	font-family: "Pacifico Alternate";
	font-weight: normal;
	font-style: normal;
	font-feature-settings: "ss01";
	src: url(../../assets/fonts/pacifico/Pacifico.woff2);
}
