@font-face {
	font-family: "Rubik Distressed";
	font-weight: normal;
	font-style: normal;
	font-feature-settings: "zero";
	src: url(../../assets/fonts/rubik-distressed/RubikDistressed-Regular.woff2);
}