@font-face {
	font-family: "Shantell Sans";
	font-style: normal;
	font-weight: 300 800;
	src: url(../../assets/fonts/shantell-sans/ShantellSans.woff2);
}

@font-face {
	font-family: "Shantell Sans";
	font-style: italic;
	font-weight: 300 800;
	src: url(../../assets/fonts/shantell-sans/ShantellSans-Italic.woff2);
}


/* BNCE = bounce, INFM = informality, SPAC = spacing */