@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 100 900;
	src: url(../../assets/fonts/source-code-pro/SourceCodePro.ttf);
}

@font-face {
	font-family: 'Source Code Pro';
	font-style: italic;
	font-weight: 100 900;
	src: url(../../assets/fonts/source-code-pro/SourceCodePro-Italic.ttf);
}