@font-face {
	font-family: "TT2020";
	font-weight: normal;
	font-style: normal;
	src: url(../../assets/fonts/tt2020/TT2020Base-Regular.ttf);
}

@font-face {
	font-family: "TT2020";
	font-weight: normal;
	font-style: italic;
	src: url(../../assets/fonts/tt2020/TT2020Base-Italic.ttf);
}
