# Simple workflow for building Ampersand as an Android application
name: Build for Android

on:
  workflow_call:
    secrets:
      ANDROID_KEY_ALIAS:
        required: true
      ANDROID_KEY_PASSWORD:
        required: true
      ANDROID_KEY_BASE64:
        required: true
      ANDROID_STORE_PASSWORD:
        required: true

# Sets the GITHUB_TOKEN permissions to allow deployment
permissions:
  contents: write

concurrency:
  group: ${{ github.ref_name == 'main' && 'build-android-dev' || 'build-android-release' }}
  cancel-in-progress: true

jobs:
  # Single deploy job since we're just deploying
  deploy-android:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'yarn'
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Set up Android SDK
        uses: android-actions/setup-android@v3
        with:
          cmdline-tools-version: 12266719
          packages: "tools platform-tools ndk;29.0.14206865"
      - name: Set up Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          rust-src-dir: "src-tauri"
      - name: Install frontend dependencies
        run: yarn install --frozen-lockfile
      - name: Update versioning
        run: yarn run upgrade-vcs
      - name: Set up Android signing
        run: |
          cd src-tauri/gen/android
          echo "keyAlias=${{ secrets.ANDROID_KEY_ALIAS }}" > local.properties
          echo "password=${{ secrets.ANDROID_KEY_PASSWORD }}" >> local.properties
          base64 -d <<< "${{ secrets.ANDROID_KEY_BASE64 }}" > $RUNNER_TEMP/keystore.jks
          echo "storeFile=$RUNNER_TEMP/keystore.jks" >> local.properties
      - name: Build app
        run: |
          yarn tauri android build --apk true --target aarch64 armv7 --split-per-abi --ci
          yarn tauri android build --aab true --apk true --target aarch64 armv7 --ci
        env:
          NDK_HOME: ${{ env.ANDROID_HOME }}/ndk/29.0.14206865/
      - name: Publish artifact (APK - ARMv7)
        uses: actions/upload-artifact@v4
        with:
          name: Android App (APK - ARMv7)
          path: |
            ./src-tauri/gen/android/app/build/outputs/apk/arm/release/ampersand-ci-arm-release.apk
            ./src-tauri/gen/android/app/build/outputs/apk/arm/release/ampersand-arm-release.apk
      - name: Publish artifact (APK - ARM64)
        uses: actions/upload-artifact@v4
        with:
          name: Android App (APK - ARM64)
          path: |
            ./src-tauri/gen/android/app/build/outputs/apk/arm64/release/ampersand-ci-arm64-release.apk
            ./src-tauri/gen/android/app/build/outputs/apk/arm64/release/ampersand-arm64-release.apk
      - name: Publish artifact (APK - Universal)
        uses: actions/upload-artifact@v4
        with:
          name: Android App (APK - Universal)
          path: |
            ./src-tauri/gen/android/app/build/outputs/apk/universal/release/ampersand-ci-universal-release.apk
            ./src-tauri/gen/android/app/build/outputs/apk/universal/release/ampersand-universal-release.apk
      - name: Publish artifact (AAB)
        uses: actions/upload-artifact@v4
        with:
          name: Android Application Bundle (AAB)
          path: |
            ./src-tauri/gen/android/app/build/outputs/bundle/universalRelease/ampersand-ci-universal-release.aab
            ./src-tauri/gen/android/app/build/outputs/bundle/universalRelease/ampersand-universal-release.aab
      - name: Publish to release
        uses: softprops/action-gh-release@v2.4.1
        with:
          tag_name: ${{ github.ref_name != 'main' && github.ref_name || 'dev' }}
          draft: true
          files: |
            ./src-tauri/gen/android/app/build/outputs/apk/universal/release/ampersand-ci-universal-release.apk
            ./src-tauri/gen/android/app/build/outputs/apk/universal/release/ampersand-universal-release.apk
            ./src-tauri/gen/android/app/build/outputs/apk/arm/release/ampersand-ci-arm-release.apk
            ./src-tauri/gen/android/app/build/outputs/apk/arm/release/ampersand-arm-release.apk
            ./src-tauri/gen/android/app/build/outputs/apk/arm64/release/ampersand-ci-arm64-release.apk
            ./src-tauri/gen/android/app/build/outputs/apk/arm64/release/ampersand-arm64-release.apk
            ./src-tauri/gen/android/app/build/outputs/bundle/universalRelease/ampersand-ci-universal-release.aab
            ./src-tauri/gen/android/app/build/outputs/bundle/universalRelease/ampersand-universal-release.aab