# Simple workflow for building Ampersand as a PC application
name: Build for PC

on:
  workflow_call:

# Sets the GITHUB_TOKEN permissions to allow deployment
permissions:
  contents: write

concurrency:
  group: ${{ github.ref_name == 'main' && 'build-pc-dev' || 'build-pc-release' }}
  cancel-in-progress: true

jobs:
  deploy-pc:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: 'macos-latest'
            args: '--target universal-apple-darwin'
          - platform: 'ubuntu-latest'
            args: ''
          - platform: 'windows-latest'
            args: ''
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'yarn'
      - name: Set up Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          target: ${{ matrix.platform == 'macos-latest' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}
      - name: Install dependencies (Ubuntu only)
        if: matrix.platform == 'ubuntu-latest' # This must match the platform value defined above.
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf
      - name: Install frontend dependencies
        run: yarn install --frozen-lockfile
      - name: Update versioning
        run: yarn run upgrade-vcs
      - name: Build Ampersand
        run: yarn tauri build --ci ${{ matrix.args }}
      - name: Publish artifact
        uses: actions/upload-artifact@v4
        with:
          name: PC build for ${{ matrix.platform }}
          path: |
            ./src-tauri/target/release/bundle/deb/Ampersand_*.deb
            ./src-tauri/target/release/bundle/rpm/Ampersand-*.rpm
            ./src-tauri/target/release/bundle/appimage/Ampersand_*.AppImage
            ./src-tauri/target/universal-apple-darwin/release/bundle/dmg/Ampersand_*.dmg
            ./src-tauri/target/release/bundle/msi/Ampersand_*.msi
      - name: Publish to release
        uses: softprops/action-gh-release@v2.4.1
        with:
          tag_name: ${{ github.ref_name != 'main' && github.ref_name || 'dev' }}
          draft: true
          files: |
            ./src-tauri/target/release/bundle/deb/Ampersand_*.deb
            ./src-tauri/target/release/bundle/rpm/Ampersand-*.rpm
            ./src-tauri/target/release/bundle/appimage/Ampersand_*.AppImage
            ./src-tauri/target/universal-apple-darwin/release/bundle/dmg/Ampersand_*.dmg
            ./src-tauri/target/release/bundle/msi/Ampersand_*.msi